---
import BaseLayout from '@/layouts/BaseLayout.astro';
import BlogPost from '@/components/BlogPost.astro';

const pageTitle = '我的 Astro 学习博客';
const allPosts = await Astro.glob('/src/pages/posts/*.{md,mdx}');
---

<BaseLayout pageTitle={pageTitle}>
  <p>这是我的 Astro 学习笔记</p>
  <ul>
    {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
  </ul>
</BaseLayout>
